.buttonCreate {
    text-align: right;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 180px;
    /* display:inline-table */
}

.tableCell {
    background: "black"
}

.modal {
    position: 'absolute';
    top: '50%';
    left: '50%';
    transform: 'translate(-50%, -50%)';
    width: 400;
    background-color: 'background.paper';
    border: '2px solid #000';
    box-Shadow: 24;
    /* p: 4, */
}

.textfield {
    width: 300;
    background-color: red
}

.title {
    margin: "auto";
    padding: 26px 0px 0px 0px;
    font-size: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace, Bold;
    font-weight: 700;
}